version: '3.1'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: velex
    volumes:
      - ./velex_data:/var/lib/postgresql/data
    ports:
      - 5432:5432